<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="bird.jpg" alt="logo" style="width:40px;">
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Conocenos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tool-orders">Tool orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/app-user-client">Aplicacion cliente</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sucursales">Sucursales</a>
    </li>
  </ul>
</nav>