<!-- <div class="col-3 c-order">
  <div class="c-user">
    <div class="row">
      <div class="col-8 c-name-user">
        <p>Magali Madera</p>
      </div>
      <div class="col-4 c-img-user">
        <img src="assets/magali.jpeg" alt="">
      </div>
    </div>
  </div>
  <div class="pedido" *ngFor="let producto of products">
    <div class="c-product">
      <div class="c-product-identifier">
        <div class="row">
          <div class="col-2 c-quantity-product">
            <p>2</p>
          </div>
          <div class="col-10 c-name-product">
            <p>Tostadas</p>
          </div>
        </div>
      </div>
      <div class="c-detail-product">
        <div class="row">
          <div class="col-6 c-img-product">
            <img src="assets/tostadas.jpg" alt="">
          </div>
          <div class="col-6 c-ingredients">
            <div class="c-ingredient-extra">
              <div class="row">
                <div class="col-6 c-name-ingredient">Cebolla</div>
                <div class="col-6 c-img-ingredient"><img src="assets/onion.jpg" alt=""></div>
              </div>
            </div>
            <div class="c-ingredient-except">
              <div class="row">
                <div class="col-6 c-name-ingredient">Catsup</div>
                <div class="col-6 c-img-ingredient"><img src="assets/catsup.jpg" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div> -->

<button class="btn btn-success" (click)="sendMessage()">Send</button>