<div class="container-fluid">
  <div class="card">
    <div class="card-body">
  
      <div *ngFor="let sucursal of sucursales">
        <div class="row">
          <div class="col-12 col-md-4 row-name">
            {{sucursal.name_branch_office}}
          </div>
          <div class="col-12 col-md-4 row-description">
            {{sucursal.description_branch_office}}
          </div>
          <div class="col-12 col-md-2 row-img">
            <img src="assets/{{sucursal.url_image_branch_office}}" alt="">
          </div>
          <div class="col-12 col-md-2 row-action">
            <button mat-stroked-button color="primary" [routerLink]="['config',sucursal._id]" >Configurar</button>
            <button mat-stroked-button color="accent" (click)="onEdit(sucursal)">Editar</button>
            <button mat-stroked-button color="warn" (click)="onDelete(sucursal._id)">Eliminar</button>
          </div>
        </div>
        <hr>
      </div>
      <div class="col-12 col-md-7">
        <div class="button-group">
          <button type="button" title="Agregar nuevo registro" (click)="onCreate()"
            class="btn btn-outline-success waves-effect waves-light addButton btn-block">
            <span class="btn-label"><i class="fa fa-plus"></i></span>Agregar</button>
        </div>
      </div>
    </div>
  </div>
</div>

