<div class="modal-header" *ngIf="modalConfig">
    <h3 class="modal-title">{{modalConfig.title}}</h3>
    <button type="button" class="close" style="cursor:pointer;" (click)="onClose()" aria-hidden="true">×</button>
</div>
<div class="modal-body" *ngIf="modalConfig">
    <form [formGroup]="ingredienteExtraForm" (ngSubmit)="formValid()" #formDir="ngForm">
        <div class="row">
            <div class="col-md-12" *ngIf="modalConfig.create">
                <mat-form-field class="col-md-12">
                    <mat-label>Seleccionar ingrediente</mat-label>
                    <mat-select formControlName="id_ingredient" required>
                        <mat-option *ngFor="let ingredient of ingredients" [value]="ingredient._id">
                            {{ingredient.name_ingredient}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="IForm.id_ingredient.hasError('required')">Porfavor, seleccionar ingrediente</mat-error>
                </mat-form-field>
            </div>
            <br>
            <div class="col-md-12">
                <mat-form-field class="col-md-12">
                    <mat-label>Precio</mat-label>
                    <input matInput formControlName="price_ingredient" [errorStateMatcher]="matcher"
                        placeholder="precio ingrediente extra">

                    <mat-error>
                        Precio ingrediente extra <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="modal-footer row">
            <button type="submit" class="col btn waves-effect waves-light btn-rounded btn-outline-info pull-left"
                [disabled]="!ingredienteExtraForm.valid">Guardar</button>
            <button type="button" class="col btn waves-effect waves-light btn-rounded btn-outline-danger"
                (click)="onClose()">Cancelar</button>
        </div>
    </form>
</div>