<mat-tab-group col-12>
  <mat-tab label="Extras"> 

    <div class="container-fluid">
      <div class="card">
        <div class="card-body"> 
          <div *ngFor="let ingredientExtra of ingredientsExtras.extra_ingredients">
            <div class="row">
              <div class="col-5 col-md-4 row-name">
                {{ingredientExtra.id_ingredient.name_ingredient}}
              </div>
              <div class="col-3 col-md-4 row-description">
                ${{ingredientExtra.price_ingredient}}
              </div>
              <div class="col-4 col-md-2 row-img">
                <img src="assets/{{ingredientExtra.id_ingredient.url_image_ingredient}}" alt="">
              </div>
              <div class="col-12 col-md-2 row-action">
                <button mat-stroked-button color="warn" (click)="onDeleteExtraIngredient(ingredientExtra.id_ingredient._id)">Eliminar</button>
                <button mat-stroked-button color="accent" (click)="onEditExtraIngredient(ingredientExtra.id_ingredient._id,ingredientExtra.price_ingredient)">Editar</button>
              </div>
            </div>
            <hr>
          </div>
          <div class="col-12 col-md-7">
            <div class="button-group">
              <button type="button" title="Agregar nuevo registro" (click)="onConfigIngredienteExtra()"
                class="btn btn-outline-success waves-effect waves-light addButton btn-block">
                <span class="btn-label"><i class="fa fa-plus"></i></span>Configurar ingrediente</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </mat-tab>
  <!--INGREDIENTES  -->
  <mat-tab label="Excepciones">

    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <div *ngFor="let sinIngrediente of sinIngredientes.without_ingredients">
            <div class="row">
              <div class="col-6 col-md-4 row-name">
                {{sinIngrediente.id_ingredient.name_ingredient}}
              </div>
              <div class="col-4 col-md-2 row-img">
                <img src="assets/{{sinIngrediente.id_ingredient.url_image_ingredient}}" alt="">
              </div>
              <div class="col-12 col-md-2 row-action">
                <button mat-stroked-button color="warn" (click)="onDeleteWithoutIngredient(sinIngrediente.id_ingredient._id)">Eliminar</button>
              </div>
            </div>
            <hr>
          </div>
          <div class="col-12 col-md-7">
            <div class="button-group">
              <button type="button" title="Agregar nuevo registro" (click)="onConfigSinIngrediente()"
                class="btn btn-outline-success waves-effect waves-light addButton btn-block">
                <span class="btn-label"><i class="fa fa-plus"></i></span>Configurar ingrediente</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </mat-tab>
</mat-tab-group>

